@page "/PurchaseList"

<MudGrid>

    <MudItem xs="6" sm="6">
        <h3>Purchase</h3>
    </MudItem>
    <MudItem xs="6" sm="6" Class="align-content-md-center">
        <MudPaper Class="d-flex flex-row-reverse flex-grow-1" Elevation="0">
            <MudFab Color="Color.Secondary" Icon="@Icons.Material.Filled.Add" Size="Size.Large" />

        </MudPaper>
    </MudItem>
</MudGrid>


<MudCard Class="m-1">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Bill No <b>AOOO1</b> <MudAvatar Color="Color.Secondary">200</MudAvatar> Date <b>6/3/20022</b>   </MudText>
            <MudText Typo="Typo.body2">Suplier <b>Shyam Rahangdale</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudMenu Icon="@Icons.Material.Filled.MoreVert">

                <MudNavLink Href="" Icon="@Icons.Filled.Edit" IconColor="Color.Success">Edit</MudNavLink>
                <MudNavLink Href="" Icon="@Icons.Filled.Delete" IconColor="Color.Info">Add</MudNavLink>

            </MudMenu>

        </CardHeaderActions>
    </MudCardHeader>
</MudCard>
<MudCard Class="m-1">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Bill No <b>AOOO1</b> Date <b>6/3/20022</b>   </MudText>
            <MudText Typo="Typo.body2">Suplier <b>Shyam Rahangdale</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudMenu Icon="@Icons.Material.Filled.MoreVert">

                <MudNavLink Href="" Icon="@Icons.Filled.Edit" IconColor="Color.Success">Edit</MudNavLink>
                <MudNavLink Href="" Icon="@Icons.Filled.Delete" IconColor="Color.Info">Add</MudNavLink>

            </MudMenu>

        </CardHeaderActions>
    </MudCardHeader>
</MudCard>
<MudCard Class="m-1">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Bill No <b>AOOO1</b> Date <b>6/3/20022</b>   </MudText>
            <MudText Typo="Typo.body2">Suplier <b>Shyam Rahangdale</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudMenu Icon="@Icons.Material.Filled.MoreVert">

                <MudNavLink Href="" Icon="@Icons.Filled.Edit" IconColor="Color.Success">Edit</MudNavLink>
                <MudNavLink Href="" Icon="@Icons.Filled.Delete" IconColor="Color.Info">Add</MudNavLink>

            </MudMenu>

        </CardHeaderActions>
    </MudCardHeader>
</MudCard>
<MudCard Class="m-1">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Bill No <b>AOOO1</b> Date <b>6/3/20022</b>   </MudText>
            <MudText Typo="Typo.body2">Suplier <b>Shyam Rahangdale</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudMenu Icon="@Icons.Material.Filled.MoreVert">

                <MudNavLink Href="" Icon="@Icons.Filled.Edit" IconColor="Color.Success">Edit</MudNavLink>
                <MudNavLink Href="" Icon="@Icons.Filled.Delete" IconColor="Color.Info">Add</MudNavLink>

            </MudMenu>

        </CardHeaderActions>
    </MudCardHeader>
</MudCard>
<MudCard Class="m-1">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Bill No <b>AOOO1</b> Date <b>6/3/20022</b>   </MudText>
            <MudText Typo="Typo.body2">Suplier <b>Shyam Rahangdale</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudMenu Icon="@Icons.Material.Filled.MoreVert">

                <MudNavLink Href="" Icon="@Icons.Filled.Edit" IconColor="Color.Success">Edit</MudNavLink>
                <MudNavLink Href="" Icon="@Icons.Filled.Delete" IconColor="Color.Info">Add</MudNavLink>

            </MudMenu>

        </CardHeaderActions>
    </MudCardHeader>
</MudCard>
<MudCard Class="m-1">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Bill No <b>AOOO1</b> Date <b>6/3/20022</b>   </MudText>
            <MudText Typo="Typo.body2">Suplier <b>Shyam Rahangdale</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudMenu Icon="@Icons.Material.Filled.MoreVert">

                <MudNavLink Href="" Icon="@Icons.Filled.Edit" IconColor="Color.Success">Edit</MudNavLink>
                <MudNavLink Href="" Icon="@Icons.Filled.Delete" IconColor="Color.Info">Add</MudNavLink>

            </MudMenu>

        </CardHeaderActions>
    </MudCardHeader>
</MudCard>
<MudCard Class="m-1">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Bill No <b>AOOO1</b> Date <b>6/3/20022</b>   </MudText>
            <MudText Typo="Typo.body2">Suplier <b>Shyam Rahangdale</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudMenu Icon="@Icons.Material.Filled.MoreVert">

                <MudNavLink Href="" Icon="@Icons.Filled.Edit" IconColor="Color.Success">Edit</MudNavLink>
                <MudNavLink Href="" Icon="@Icons.Filled.Delete" IconColor="Color.Info">Add</MudNavLink>

            </MudMenu>

        </CardHeaderActions>
    </MudCardHeader>
</MudCard>
<MudCard Class="m-1">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Bill No <b>AOOO1</b> Date <b>6/3/20022</b>   </MudText>
            <MudText Typo="Typo.body2">Suplier <b>Shyam Rahangdale</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudMenu Icon="@Icons.Material.Filled.MoreVert">

                <MudNavLink Href="" Icon="@Icons.Filled.Edit" IconColor="Color.Success">Edit</MudNavLink>
                <MudNavLink Href="" Icon="@Icons.Filled.Delete" IconColor="Color.Info">Add</MudNavLink>

            </MudMenu>

        </CardHeaderActions>
    </MudCardHeader>
</MudCard>
<MudCard Class="m-1">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">Bill No <b>AOOO1</b> Date <b>6/3/20022</b>   </MudText>
            <MudText Typo="Typo.body2">Suplier <b>Shyam Rahangdale</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
            <MudText Typo="Typo.body2">Value Of Good <b>1000</b>Total Amount <b>1000</b></MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudMenu Icon="@Icons.Material.Filled.MoreVert">

                <MudNavLink Href="" Icon="@Icons.Filled.Edit" IconColor="Color.Success">Edit</MudNavLink>
                <MudNavLink Href="" Icon="@Icons.Filled.Delete" IconColor="Color.Info">Add</MudNavLink>

            </MudMenu>

        </CardHeaderActions>
    </MudCardHeader>
</MudCard>



@code {

}
